<!DOCTYPE html>
<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div class="cover">
  <div class="cover-image-wrapper">
  <% if @cover %>
    <%= image_tag(@cover.url.to_s, class: 'cover-image') %>
  <% else %>
    <%= image_tag('cover.jpg', class: 'cover-image') %>
  <% end %>
  </div>
  <div class="cover-overlay">
    <h1>Let's build your dream landscape</h1>
    <h4>Big or small, we take on all projects</h4>
    <button class="cover-overlay-button">
      <a href="#contact-us"> Contact us for a free quote </a>
    </button>
    <div class="cover-overlay-bg"></div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">Why Choose Intrigue?</h1>
  <div class="jumbotron-item">
    <%= fa_icon "comments" %> Free Quotes & Estimates
    <p>Contact us anytime to get a free quote</p>
    <button class="jumbotron-button" id="jumbotron-button-contact-us" style="width: 150px;">Contact us</button>
  </div>
  <div class="vr"></div>
  <div class="jumbotron-item">
    <%= fa_icon "thumbs-up" %> Dependable Service
    <p>We work with to deliever the best possible services</p>
    <button class="jumbotron-button" id="jumbotron-button-services" style="width: 150px;">Our Services</button>
  </div>
  <div class="vr"></div>
  <div class="jumbotron-item">
    <%= fa_icon "check-square-o" %> Experienced Professionals
    <p>We've provided beautiful landscape designs for over 10 years</p>
    <button class="jumbotron-button" id="jumbotron-button-gallery" style="width: 150px;">Photo Gallery</button>
  </div>
</div>
<% flash.each do |key, value| %>
  <div class="alert admin-alerts alert-<%= key %> alert-dismissible fade show" role="alert"><%= value %>
  </div>
<% end %>
<div class="main">
  <div class="slider">
    <% @slides.each do |slide| %>
      <div class="image-wrapper"><%= image_tag(Image.find(slide.image_id).url.to_s) %></div>
    <% end %>
  </div>
  <br>
    <button id="custom-button-gallery">View our photo gallery</button>
  <hr>
  <div id="service">
    <h1>Exceptional Services</h1>
    <div class="container-wrapper">

    <div class="service-item-wrapper">
      <div class="service-item">
        <div class="image-wrapper">
          <%= image_tag('landscaping.jpg', height: 300) %>
        </div>
        <div class="service-overlay"><h5>Landscaping</h5>
          <div class="service-overlay-bg"></div>
        </div>
      </div>
      <p>Attractive and functional designs for residential and commercial spaces.</p>
    </div>

    <div class="service-item-wrapper">
      <div class="service-item">
        <div class="image-wrapper">
          <%= image_tag('pavers.jpg', height: 300) %>
        </div>
        <div class="service-overlay"><h5>Stone Pavers</h5>
          <div class="service-overlay-bg"></div>
        </div>
      </div>
      <p>A beautiful and long-lasting material for pathways and driveways.</p>
    </div>

    <div class="service-item-wrapper">
      <div class="service-item">
        <div class="image-wrapper">
          <%= image_tag('water_feature.jpg', height: 300) %>
        </div>
        <div class="service-overlay"><h5>Water Features</h5>
          <div class="service-overlay-bg"></div>
        </div>
      </div>
      <p>A great way of creating a soothing and calming atmosphere and mask unwanted noise.</p>
    </div>
    </div>
    </div>
  <div id="about">
    <h1>About us</h1>
    <div class="about-wrapper">
      <%= image_tag('about.jpg', height: 300, class: 'about-image')%>
      <div class="about-text"><p>Over 10 years ago, Adam started Intrigue Landscaping with a simple goal. To provide clients in kelowna with the best landscaping services possible. To achieve this, with over 15 years of experience in landscaping, Adam provides the ultimate landscaping design and services to build anything you can think of in your landscape. He has also developed relationships with some of the biggest landscaping, irrigation and masonry wholesalers as well as nurseries, to provide the highest quality materials.</p></div>
        </div>
  </div>
  <hr>
  <div id="contact-us">
    <div class="contact-form">
      <h1>Contact us</h1><br>
      <div class="email-form">
        <%= render template: "contacts/new" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

</script>

</body>
</html>
